<div class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
    <img src="assets/logo.png" alt="" srcset="">
    <span class="fs-4">Escola de Cursos</span>
  </a>

  <ul class="nav nav-pills">
    <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li>
    <li class="nav-item"><a href="#" class="nav-link">Cursos Livres</a></li>
    <li class="nav-item"><a href="#" class="nav-link">Cursos Técnicos</a></li>
    <li class="nav-item"><a href="#" class="nav-link">Graduação</a></li>
    <li class="nav-item"><a href="#" class="nav-link">Especialização</a></li>
  </ul>
</div>
